<div class="container-fluid ps-lg-4 pe-lg-4">
  <div class="mt-2 row">
    <div class="me-2 col-sm-12 col-md-auto col-lg-auto">
        <% if @user_profile&.avatar.present? %>
          <%= image_tag @user_profile.avatar, style: 'width: 200px;height: 200px;' %>
        <% end %>
    </div>
    <div class="ms-2 me-2 col-sm-12 col-md-6 col-lg-6 col w-50">
      <span style="font-size: large; font-weight: bold;"><%= @user_profile.first_name + " " + @user_profile.last_name %></span><br>
      <span style="font-weight: bold;"><%= @user_profile.email %></span>
      <hr class="my-1">
        <h6 class="mt-2">About</h6>
        <p><%= @user_profile&.about %></p>
    </div>
  </div>
</div>

<div class="table-responsive mt-2 overflow-x-auto">
  <% if @search_user_conversations.present? %>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Send messages</th>
        <th>Received messages</th>
      </tr>
      </thead>
      <tbody>
      <% @search_user_conversations&.each do |conversation| %>
        <tr>
          <td><%= conversation.received_user.first_name + " " + conversation.received_user.last_name %></td>
          <td><%= conversation.received_user.email %></td>
          <td><%= conversation.send_messages_count %></td>
          <td><%= conversation.received_messages_count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center mt-2">There is no conversation</p>
  <% end %>
</div>
<div class="text-center mt-2">
  <%= link_to "Back", root_path, class: "btn btn-secondary btn-sm me-2" %>
</div>